html {
    height: 100%;
}

body {
    height: 100%;
    height: -webkit-fill-available;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
}

.background-gray {
    background-color: #1D1E20;
}

.text-orange {
    color: #DB6F47
}

.justify-text {
    text-align: justify;
}

.border-color-green {
    border-color: #1C555D !important;
}

.opacity-15 {
    opacity: 0.25;
}

.opacity-80 {
    opacity: 0.80;
}

.w-15 {
    width: 10%!important;
}
.z-1{
    z-index: 1;
}
.z-2 > *{
    z-index: 2;
}
a{
    color: rgb(240, 240, 240);
}
a:hover{
    color:#fff;
}
a.tech:hover{
    color:#f07a50;
}
a.stories:hover{
    color:#57c75a;
}
a.stories{
    color:#4caf50;
}
a.tech{
    color:#DB6F47;
}
@media screen and (min-width: 480px) {
    .col-md-6-with-border {
        flex: 0 0 auto;
        width: 50%;
        border-right: 1px solid;
    }
}

.list-group-item{
    background-color: #4c4c4c1e;
    border: 1.5px solid rgba(255,255,255,.125);
}